.header{
    background-color:#626C7E;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    overflow-x: hidden;
    background-color:rgb(236, 200, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D3238;    
}
.preventSelect{
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
.button{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 1px;
    background-color:rgb(236, 200, 175);
    border-style: solid;
    border-color: #2D3238;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color:rgb(231, 173, 153);
    transition: .2s;
}
div.flexContainer div.button{
    margin-top: 0px;
    width: 30%;
}
.regDisplayParent{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color:rgb(231, 173, 153);
    width: 1em;
    border-style: solid;
    border-color: #2D3238;
    border-radius: 5px;
    height: 1.5em;
    width: 80em;
}
.regDisplayChild{
    width: 4em;
    height: 1.5em;
    border-style: solid;
    border-color:rgb(45, 50, 56);
    border-width: 3px;
    border-left: 1.5px;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
    font-style: normal;
}
.regDisplayChild:last-child{
    border-right: 0px;
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
input[type="checkbox"].toggle{
    opacity: 0;
}
.toggleSwitch{
    position: relative;
    width: 4em;
    height: 1.8em;
    border-style: solid;
    border-color:rgb(45, 50, 56);
    border-radius: 35px;
    margin-top: .5em;
}
.toggleSwitch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    border-radius: 35px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(236, 200, 175);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    border-radius: 35px;
    content: "";
    height: 1.44em;
    width: 1.6em;
    left: .4em;
    bottom: .2em;
    background-color: rgb(45, 50, 56);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: rgb(231, 173, 153);
}
input:checked + .slider:before{
    -webkit-transform: translateX(1.6em);
    -ms-transform: translateX(1.6em);
    transform: translateX(1.6em);
}
.slideContainer{
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 1em;
    display: flex;
    justify-content: center;
}
input[type="range"] {
    -webkit-appearance: none;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(45, 50, 56);
    background-color: rgb(236, 200, 175);
  } 
input[type="range"]::ms-range-track{
    border-width: 3px;
    border-color: rgb(45, 50, 56);
    background-color:rgb(231, 173, 153)
}
/*everything but firefox support(not IE)*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid rgb(45, 50, 56);
    height: 1.5em;
    width: 1.5em;
    margin-top: -.1em;
    border-radius: 3px;
    background: rgb(231, 173, 153);
    cursor: pointer;
  }
/*firefox support*/
input[type=range]::-moz-range-thumb {
    border: 3px solid rgb(45, 50, 56);
    border-radius: 5px;
    height: 1.5em;
    width: 1.5em;
    margin-top: -.1em;
    background: rgb(231, 173, 153);
    cursor: pointer;
}
.flexContainer{
    display: flex;
    width: 40%;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.fileInputWrapper{
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 60px;
    background-color:rgb(236, 200, 175);
    border-style: solid;
    border-color: #2D3238;
    border-radius: 5px;
    text-align: center;
}
.fileInputWrapper:hover{
    cursor: pointer;
    background-color: rgb(231, 173, 153);
    transition: background-color .2s;
}
.fileInputText{
    display:inline-flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}
.fileInput{
    display: none;
}
.codeDisplayWrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1.5em;
}
.codeDisplay{
    display: block;
    width: 100%;
    height: 25em;
    text-align: top;
    font-size: 15px;
    background-color: rgb(231, 173, 153);
    border: rgb(45, 50, 56);
    border-radius: 5px;
    border-style: solid;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2D3238;     
}
.playIcon{
    width: 23px;
	height: 25px;
	background-color: rgb(45, 50, 56);
    clip-path: path("m 3,3 L 3,22 L 22,13 Z");
}